doctype html
html
    head
    body
        div(classname='card m-2' style='{{width:' "20rem"}}='')
            div(id='1' classname='carousel slide mx-auto card-img-top' data-interval='false')
                | {/*
                // Indicators/dots
                | */}
